---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await Astro.glob('../pages/posts/*.(md|mdx)')

const pageTitle = "My Blog"
---
<BaseLayout pageTitle={pageTitle}>
	<p>This is where I will post about my journey learning Astro.</p>

	<ul class="space-y-2">
		{allPosts.map(post => (
			<BlogPost url={post.url} title={post.frontmatter.title} />
		))}
	</ul>
</BaseLayout>
