---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Home Page'
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class="text-lg font-semibold">My awesome blog subtitle</h2>
</BaseLayout>
