---
import { Button } from "./ui/button";
const { platform, username } = Astro.props
---

<Button>
  <a href={`https://www.${platform}.com/${username}`} target="_blank">
    {platform}
  </a>
</Button>
