---
import { Moon, Sun } from "lucide-react";
---
<button id="themeToggle">
  <Sun id="sun" className="dark:hidden" />
  <Moon id="moon" className="hidden dark:block" />
</button>

<script is:inline>
  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");
  }

  document.getElementById("themeToggle").addEventListener("click", handleToggleClick);
</script>
