---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

import '../styles/globals.css';

const { pageTitle } = Astro.props;
---
<html class="h-full" lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} - Astro Tutorial</title>
  </head>
  <body class="h-full flex flex-col">
    <Header />

    <main class="p-8 flex-1 space-y-4">
      <h1 class="text-3xl font-bold">{pageTitle}</h1>

      <slot />
    </main>

    <Footer />
  </body>
</html>
